.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  padding: 0 16px;

  z-index: 10;
}

.navbar__main {
  position: relative;
  height: 57px;
  width: 100%;

  display: flex;
  justify-content:space-between;
  align-items: center;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-subtitle);
  height: 1px;
}


/* Display navbar === true */

.navbar__display-menu {
  height: 100px;

  padding-top: 70px;

  display: grid;
  grid-template-rows:  auto;
  gap:24px;
  
  justify-content: right;
  text-align: right;
  font-size: var(--font-size-navbar-menu);

}

@keyframes extend-menu{
  0%{
    height: 57px
  }
  100%{
    height: 100vh;
  }
}

@keyframes extend-menu-reverse{
  0%{
    height: 100vh;
  }
  100%{
    height: 57px;
  }
}

.anime-extend-menu{
  animation: extend-menu 0.3s forwards;
}

.anime-extend-menu-reverse{
  animation: extend-menu-reverse 0.3s forwards;
}

.navbar__main__content__display-menu{
  display: none;
}






/* TABLET  */
@media (min-width: 768px){
  .navbar {
    padding: 0 22px;
  }
  .navbar__main {
    height: 59px;
  }

  .navbar__main__content__burger{
    display:none;
  }

  .navbar__main__content__display-menu{
    display: grid;

    grid-template-columns: repeat(3,auto);
    gap: 32px;
  }

  @keyframes extend-menu{
    0%{
      height: 59px
    }
    100%{
      height: 100vh;
    }
  }
  
  @keyframes extend-menu-reverse{
    0%{
      height: 100vh;
    }
    100%{
      height: 59px;
    }
  }
}






/* desktop */
@media (min-width: 1024px){


  .navbar__main{
    width: auto;
    max-width: 1024px;
    margin: auto;
  }
}

