.slider-tech{
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin: 8px 0px;
}

.slider-tech::-webkit-scrollbar {
  /* display: none; */
}

/* .animation-slide{
  animation: slider 2s linear infinite;
} */

@keyframes slider{
  to {
    transform: translate(100%);
  }
}