.slider {
  position: relative;
  height: 130px;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-ToRight{
  display: flex;
  width: calc(100px * 44);
  animation: scrollToRight 7s linear infinite;
  gap: 8px;
}

.slider-ToRight:hover{
  animation-play-state: paused;
}


/* card  */
.slide-item{
  background: #181818;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100px;
  height: 100px;

  border-radius: 8px;

  place-items: center;
  transition: transform 0.3s;
}

.slide-item:hover{
  transform:scale(1.1);
}

.slide-item__img{
  aspect-ratio: 1/1;
  width: 30px;
  height: 30px;
}

.slide-item__title{
  color: var(--color-text);
}

@keyframes scrollToRight{
  0%{
    transform: translateX(calc(-100px * 22));
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes scrollToLeft{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100px * 22));
  }
}