.contact {
  display: grid;
  grid-template-rows: 1fr;
  gap: 32px;
  margin: 32px 0;
}

.contact__form{
  display: grid;
  grid-template-rows: 1fr;
  gap: 16px;
}

.contact__form-input{
  color: var(--color-text);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-subtitle);
  width: 100%;
  padding: 10px 0;
}

.contact__form-input:focus{
  outline: none;
}

.contact__form-textarea{
  color: var(--color-text);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-subtitle);
  width: 100%;
  padding: 10px 0;

  min-height: 150px;
  max-height: 300px;
}

.contact__form-textarea:focus{
  outline: none;
}

::placeholder {
  color: var(--color-subtitle);
  opacity: 1;
}


/* socialmedia */
.contact__social-media{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.social-media{
  display: flex;
  gap: 16px;
  align-items: end;
  cursor: pointer;
}

.social-media:hover .button__background-to-top{
  top: 10%;
}

.social-media:hover .button__content {
  color: black;
}

.social-media__square{
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-text);

  position: relative;
  background: var(--color-bg);
}

.social-media__square:hover .button__background-to-top {
  top: 10%;
}

.social-media__square:hover .button__content {
  color: black;
}

.social-media__text{

}

.test {
  color: white;
}

.container__social-media{
  display: grid;
  gap: 32px;
}

@media (min-width: 768px){
  .container__social-media{
    grid-template-columns: 1fr auto;
  }
}