.idla__introduction{
  display: grid;
  gap: 80px;
  margin: 32px 0;
}

.idla__picture{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.idla__picture > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.idla__picture__logo {
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* card  */

.idla__recap{
  display: grid;
  gap: 32px;
  grid-template-rows: auto;
  margin: 32px 0;
}

.idla__recap > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:end;
  text-align: right;
}


.idla__recap__title-clients{
  color: var(--color-text);
  padding: 8px;
  margin: 18px 0;
  border-radius:24px;
  width: fit-content;
  background: linear-gradient(75deg, var(--color-IDLA) 0%, #000000 100%);
}
.idla__recap__subtitle{
  width: 80%;
  max-width: 400px;
  text-align: left;
}


.separator-idla{
  display: flex;
  justify-content: space-around;
  place-items: center;
  gap: 8px;
  margin-top: 32px;
}

.separator__title-idla{
  width: fit-content;
  color: var(--color-IDLA);
  font-size: var(--font-size-sm);
  white-space: nowrap;
}

.separator__line-idla{
  background: var(--color-IDLA-50);
  font-size: var(--font-size-lg);
  width: 100%;
  height: 1px;
}
.idla__icon-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.idla__icon-container > img {
  aspect-ratio: 1 / 1;
  max-height: 50px;
}

.grid-gap-8{
  display: grid;
  grid-template-rows: auto;
  gap: 8px;
}
.grid-gap-16{
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
}

.idla__soluce{
  display: grid;
  gap: 16px;
  margin: 32px 0;
}

.idla-mockup-grid{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.idla-mockup-grid__phone {
  display: grid;
  place-items: center;
  grid-template-columns: 27% 72%;
}


.iphone{
  width: 100%;
}

.ipad{
  width: 100%;
  margin: 3px 0 0 0;
}

.desktop {
  grid-column: span 2;
  width: 98%;
}

.desktop img {
  
  border-radius: 15px;
  width: 100%;
}

.idla__security{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  margin: 64px 0;
}

.idla__security :nth-child(1){
  grid-column: span 2;
}

.idla__security img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.idla__security p{
  width: 77%;
}

.idla__other__grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  /* aspect-ratio: 2/1; */
  gap: 16px;
  margin: 24px 0;
}

.idla__other__grid :nth-child(1){
  grid-row: 1 / span 12;
  grid-column: 1 / span 6;
  border-radius: 8px;
  width: 95%;
}

.idla__other__grid :nth-child(2){
  grid-row: 1 / span 6;
  grid-column: 7 / span 6;
  border-radius: 8px;
  width: 90%;
}

.idla__other__grid :nth-child(3){
  grid-row: 7 / span 6;
  grid-column: 7 / span 6;
  border-radius: 8px;
  width: 90%;
}

.idla__other{
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  gap: 32px;
}

/* .idla-mockup-grid__tablet {
  background: blue;
  aspect-ratio: 4 / 3;
  

} */
@media (min-width: 768px){
  .idla__introduction{
    display: grid;
    gap: 16px;
    margin: 32px 0;

    grid-template-columns: auto auto;
  }

  .idla__introduction p {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .idla__introduction .idla__picture{
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .idla__soluce{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  
.idla__other{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.idla__other {
  grid-column: span 2;
  gap: 64px;
}

.idla__other__grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  aspect-ratio: 2/1;
}
}