.white-bg-bot-to-top{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90%;

  transition: top 0.3s;
}

.change-text-color{
  color: white;
  transition: color 1s;
}

.parentLinkSquare:hover .white-bg-bot-to-top{
  top: 10%;
}

.parentLinkSquare:hover .change-text-color{
  color: black;
}