.anime-top-line{
  animation: rotate-left 0.5s forwards;
}

.anime-bottom-line{
  animation: rotate-right 0.5s forwards;
}

.anime-bottom-line-reverse{
  animation: rotate-right-reverse 0.5s forwards;
}

.anime-top-line-reverse{
  animation: rotate-left-reverse 0.5s forwards;
}

@keyframes rotate-left{
  0% {
    transform: rotate(0deg);
    transform-origin: 11px 0px;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: 11px 0px;
  }
}

@keyframes rotate-left-reverse{
  0% {
    transform: rotate(-45deg);
    transform-origin: 11px 0px;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 11px 0px;
  }
}

@keyframes rotate-right{
  0% {
    transform: rotate(0deg);
    transform-origin: 11px 9px;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: 11px 9px;
  }
}

@keyframes rotate-right-reverse{
  0% {
    transform: rotate(45deg);
    transform-origin: 11px 9px;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 11px 9px;
  }
}